*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea
/target
src/.DS_Store
src/main/.DS_Store
src/main/java/.DS_Store
src/main/java/br/.DS_Store
